src/main/resources/META-INF/zrpc-reference.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lexueba.com/schema/reference"  
    xmlns:tns="http://www.lexueba.com/schema/reference" elementFormDefault="qualified">  
    <element name="reference">  
        <complexType>  
            <attribute name="interfaceName" type="string" />  
            <attribute name="id" type="string" />  
        </complexType>  
    </element>  
</schema> 