src/main/resources/META-INF/zrpc-service.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lexueba.com/schema/service"  
    xmlns:tns="http://www.lexueba.com/schema/service" elementFormDefault="qualified">  
    <element name="service">  
        <complexType>  
            <attribute name="interfaceName" type="string" />  
            <attribute name="ref" type="string" />  
            <attribute name="id" type="string" />  
            <attribute name="interfaceImplName" type="string" />  
        </complexType>  
    </element>  
</schema> 