src/main/resources/META-INF/zschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lexueba.com/schema/zrpc"
	xmlns:tns="http://www.lexueba.com/schema/zrpc"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified">
	 
	<xsd:element name="registry">
		
        <xsd:complexType>
			<xsd:attribute name="address" type="string" >
				 <xsd:annotation>
                    <xsd:documentation>注册中心地址,默认使用Consul注册中心</xsd:documentation>
                </xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="id" type="string" default="registry">
				 <xsd:annotation>
	                    <xsd:documentation><![CDATA[ 注册中心ID,必须使用默认值registry]]></xsd:documentation>
	             </xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
    </xsd:element>
	<xsd:element name="reference">
		
        <xsd:complexType>
			<xsd:attribute name="interfaceName" type="string" />
			<xsd:attribute name="id" type="string" />
			<!-- 负载均衡策略 Hash和Random -->
			<xsd:attribute name="strategy">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="hash"/>
						<xsd:enumeration value="random"/>
					</xsd:restriction>
				</xsd:simpleType>
			
			</xsd:attribute>
			
		</xsd:complexType>
    </xsd:element>
	<xsd:element name="service">
		
        <xsd:complexType>
			<xsd:attribute name="tag" type="string" />
			<xsd:attribute name="name" type="string" />
			<xsd:attribute name="id" type="string" />
			<xsd:attribute name="port" type="int" />
			<xsd:attribute name="address" type="string" />
		</xsd:complexType>
    </xsd:element>
</xsd:schema>